<p><%= image_tag 'home.svg', size: "30x30" %><a href="#">ホーム</a></p>
<p><%= image_tag 'bell.svg', size: "30x30" %>通知</p>
<p><%= image_tag 'mail.svg', size: "30x30" %>メッセージ</p>
<p><%= image_tag 'bookmark.svg', size: "30x30" %>ブックマーク</p>
<p><%= image_tag 'list.svg', size: "30x30" %>リスト</p>
<p><%= image_tag 'profile.svg', size: "30x30" %>プロフィール</p>
<p><%= image_tag 'other.svg', size: "30x30" %>もっと見る</p>
<p><a href= '/tweets/new' class="button">ツイートする</a></p>